<h1>New Idea</h1>

<%= form_for([@user, @idea]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>

  <%= f.submit "Create Idea" %>
<% end %>
